---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="Karnataka State Forest Department">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      Karnataka State Forest Department <br /><span class="text-gradient"
        >Full Stack Developer</span>
    </h1>
    
    <p class="lead text-white">
    <ul class="text-white">
    <li>Designed and implemented a responsive user interface using React for the front-end, resulting in user engagement on the mobile platform.</li>
    <li>Developed and deployed custom algorithms and ML models, analyzing datasets over 500GB, resulting in a 15% reduction in customer churn (equivalent to retaining 1,200 customers).</li>
    <li>Leveraged Docker for containerization, achieving a 25% reduction in deployment time and enabling swift integration of crucial updates in the forest management application.</li>
    <li>Implemented end-to-end AI pipelines, leveraging state-of-the-art frameworks such as TensorFlow and PyTorch, to optimize data processing and model training workflows.</li>
    </ul>
</p>
    <BackButton />
</div>
</Layout>

<style>
</style>

