---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="Cognitive Solutions">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      Cognitive Solutions <br /><span class="text-gradient"
        >UX developer Intern</span>
    </h1>
    
    <p class="lead text-white">
    <ul class="text-white">
    <li>Enhanced the e-commerce platform, contributing to a 15% boost in user engagement through responsive UI enhancements.</li>
    <li>Conducted code reviews, establishing coding standards that led to a 10% reduction in software bugs.</li>
    <li>Enhanced a major educational website with custom WordPress themes and plugins, boosting daily visitors by 40% and enrollment inquiries by 25%.</li>
    </ul>

</p>
    <BackButton />
</div>
</Layout>

<style>
</style>

