---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="Krypt India Private Limited">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      Krypt India Private Limited <br /><span class="text-gradient"
        >Business Analyst</span>
    </h1>
    
    <p class="lead text-white">
    <ul class="text-white">
    <li>Led a cross-functional team in implementing Microsoft Dynamics NAV for inventory management, resulting in a 25% increase in forecast accuracy.</li>
    <li>Collaborated with stakeholders to identify and prioritize (KPIs) for monitoring business performance, leading to more informed decision-making processes.</li>
    <li>Assisted in the implementation of a CRM system, improving customer relationship management and resulting in a 20% increase in customer retention.</li>
    </ul>




</p>
    <BackButton />
</div>
</Layout>

<style>
</style>

